<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#myTable').DataTable();
            });
        </script>
    </head>
<body>
    <h1>All Products</h1>
    <a href="/">HOME</a><br>
    <a href="/product/new">ADD NEW</a> <br>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>MRP</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <%products.forEach(function(product){ %>
        <tr>
            <td><%= product.name%></td>
            <td><%= product.mrp%></td>
            <td><%= product.description%></td>
            <td><a href="/product/<%= product.id%>/edit">Edit</a></td>
            <td>
                <form action="/product/<%= product.id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</body>
</html>